node_modules/

**/bin/
**/obj/
.DS_Store

.fake/
src/WebApp/output/
src/WebApp/public/
packages/
paket-files/
tests/dist/

.ionide/
/src/WebApp/.vs/HtmlToElmish/DesignTimeBuild/.dtbcache.v2
/src/WebApp/.vs/HtmlToElmish/v16/.suo
/src/HtmlConverter/.vs/Fable.HtmlConverter/v16/.suo
